
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<title> About us || corpai || corpai HTML 5 Template </title>
<meta name="description" content="corpai HTML 5 Template " />

@Html.Partial("~/Areas/Website/Views/Shared/_Head.cshtml")

<body>




    @Html.Partial("~/Areas/Website/Views/Shared/_SideBar.cshtml")




    <div class="page-wrapper">
        @Html.Partial("~/Areas/Website/Views/Shared/_Header.cshtml")

        <div class="stricky-header stricked-menu main-menu main-menu-three">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__shape-1">
                <img src="~/website/assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="~/website/assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="~/website/assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header-bg" style="background-image: url(/website/assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>About us</h2>
                    <div class="thm-breadcrumb__box">
                        <div class="thm-breadcrumb__shape-1">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-1.png" alt="">
                        </div>
                        <div class="thm-breadcrumb__shape-2">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-2.png" alt="">
                        </div>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--About Three Start-->
        <section class="about-three about-four">
            <div class="about-three__shape-1 float-bob-y">
                <img src="~/website/assets/images/shapes/about-three-shape-1.png" alt="">
            </div>
            <div class="about-three__shape-2 float-bob-y">
                <img src="~/website/assets/images/shapes/about-three-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-three__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Who we are</span>
                                <h2 class="section-title__title">
                                    Ready to get
                                    business financing?
                                </h2>
                            </div>
                            <p class="about-three__text">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium voluptatum deleniti atque corrupti
                            </p>
                            <div class="about-three__points-box">
                                <ul class="about-three__points-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Business Solutions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Business Essential Services</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Financial Gap Analysis</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="about-three__points-list about-three__points-list-2 list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Financing decisions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Strategic decisions</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-three__profitable-business">
                                <div class="about-three__profitable-business-icon">
                                    <div class="about-three__profitable-business-shape-1">
                                        <img src="~/website/assets/images/shapes/about-three-profitable-business-shape-1.png"
                                             alt="">
                                    </div>
                                    <span class="icon-coin"></span>
                                </div>
                                <div class="about-three__profitable-business-text">
                                    <p>Helping you run a more efficient & profitable business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-three__right">
                            <div class="about-three__img-box">
                                <div class="about-three__img">
                                    <img src="~/website/assets/images/resources/about-three-img-1.jpg" alt="">
                                </div>
                                <div class="about-three__img-2">
                                    <img src="~/website/assets/images/resources/about-three-img-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Three End-->
        <!--CTA One Start-->
        <section class="cta-one">
            <div class="cta-one__shape-1">
                <img src="~/website/assets/images/shapes/cta-one-shape-1.png" alt="">
            </div>
            <div class="cta-one__shape-2">
                <img src="~/website/assets/images/shapes/cta-one-shape-2.png" alt="">
            </div>
            <div class="cta-one__shape-3">
                <img src="~/website/assets/images/shapes/cta-one-shape-3.png" alt="">
            </div>
            <div class="cta-one__shape-4">
                <img src="~/website/assets/images/shapes/cta-one-shape-4.png" alt="">
            </div>
            <div class="cta-one__shape-5">
                <img src="~/website/assets/images/shapes/cta-one-shape-5.png" alt="">
            </div>
            <div class="container">
                <div class="col-xl-12">
                    <div class="cta-one__inner">
                        <div class="cta-one__title-box">
                            <h3 class="cta-one__title">
                                We create seamless digital experiences <br>
                                to grow your business.
                            </h3>
                        </div>
                        <div class="cta-one__btn-box">
                            <a href="services-v-1.html" class="cta-one__btn thm-btn">Get Business Financing!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CTA One End-->
        <!--Feature Two Start-->
        <section class="feature-two">
            <div class="container">
                <div class="row">
                    <!--Feature Two Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="feature-two__single">
                            <div class="feature-two__shape-3">
                                <img src="~/website/assets/images/shapes/feature-two-shape-3.png" alt="">
                            </div>
                            <div class="feature-two__shape-4">
                                <img src="~/website/assets/images/shapes/feature-two-shape-4.png" alt="">
                            </div>
                            <div class="feature-two__icon">
                                <div class="feature-two__shape-1">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-1.png" alt="">
                                </div>
                                <div class="feature-two__shape-2">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-2.png" alt="">
                                </div>
                                <span class="icon-business-growth-management"></span>
                            </div>
                            <h3 class="feature-two__title"><a href="finance-strategy.html">Business Planning</a></h3>
                            <p class="feature-two__text">At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                    <!--Feature Two Single End-->
                    <!--Feature Two Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="feature-two__single">
                            <div class="feature-two__shape-3">
                                <img src="~/website/assets/images/shapes/feature-two-shape-3.png" alt="">
                            </div>
                            <div class="feature-two__shape-4">
                                <img src="~/website/assets/images/shapes/feature-two-shape-4.png" alt="">
                            </div>
                            <div class="feature-two__icon">
                                <div class="feature-two__shape-1">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-1.png" alt="">
                                </div>
                                <div class="feature-two__shape-2">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-2.png" alt="">
                                </div>
                                <span class="icon-business-management-presentation"></span>
                            </div>
                            <h3 class="feature-two__title">
                                <a href="financial-services.html">Financing decisions</a>
                            </h3>
                            <p class="feature-two__text">At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                    <!--Feature Two Single End-->
                    <!--Feature Two Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="feature-two__single">
                            <div class="feature-two__shape-3">
                                <img src="~/website/assets/images/shapes/feature-two-shape-3.png" alt="">
                            </div>
                            <div class="feature-two__shape-4">
                                <img src="~/website/assets/images/shapes/feature-two-shape-4.png" alt="">
                            </div>
                            <div class="feature-two__icon">
                                <div class="feature-two__shape-1">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-1.png" alt="">
                                </div>
                                <div class="feature-two__shape-2">
                                    <img src="~/website/assets/images/shapes/feature-two-shape-2.png" alt="">
                                </div>
                                <span class="icon-calculator"></span>
                            </div>
                            <h3 class="feature-two__title"><a href="about.html">Technical Accounting</a></h3>
                            <p class="feature-two__text">At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>
                    </div>
                    <!--Feature Two Single End-->
                </div>
            </div>
        </section>
        <!--Feature Two End-->
        <!--Financial Direction One Start-->
        <section class="financial-direction-one financial-direction-two">
            <div class="financial-direction-one__shape-1">
                <img src="~/website/assets/images/shapes/financial-direction-one-shape-1.png" alt="">
            </div>
            <div class="financial-direction-one__shape-4 float-bob-x">
                <img src="~/website/assets/images/shapes/financial-direction-one-shape-4.png" alt="">
            </div>
            <div class="financial-direction-one__shape-5 float-bob-x">
                <img src="~/website/assets/images/shapes/financial-direction-one-shape-5.png" alt="">
            </div>
            <div class="financial-direction-two__shape-1 float-bob-y">
                <img src="~/website/assets/images/shapes/financial-direction-two-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="financial-direction-one__left">
                            <div class="financial-direction-one__img">
                                <img src="~/website/assets/images/resources/financial-direction-one-img-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="financial-direction-one__right">
                            <h3 class="financial-direction-one__title">
                                Get access to <br>
                                the right financial
                                direction.
                            </h3>
                            <p class="financial-direction-one__text">
                                All the Lorem Ipsum generators on the Internet tend
                                to repeat predefined chunks as necessary, Lorem Ipsum
                                passage all the power of having a CFO on board, Get access to the right financial
                                direction for your growing business.
                            </p>
                            <ul class="financial-direction-one__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <img src="~/website/assets/images/icon/financial-direction-icon-1.png" alt="">
                                    </div>
                                    <div class="financial-direction-one__content">
                                        <h3>Investment decisions</h3>
                                        <p>
                                            You care about the company’s success. That’s
                                            why you want to make sure that it makes
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="~/website/assets/images/icon/financial-direction-icon-2.png" alt="">
                                    </div>
                                    <div class="financial-direction-one__content">
                                        <h3>Financing decisions</h3>
                                        <p>
                                            You care about the company’s success. That’s
                                            why you want to make sure that it makes
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Financial Direction One End-->
        <!--Highest Company Start-->
        <section class="highest-company-one">
            <div class="highest-company-one__inner">
                <div class="highest-company-one__shape-1 float-bob-y">
                    <img src="~/website/assets/images/shapes/highest-company-one-shape-1.png" alt="">
                </div>
                <div class="highest-company-one__shape-2">
                    <img src="~/website/assets/images/shapes/highest-company-one-shape-2.png" alt="">
                </div>
                <div class="highest-company-one__shape-3">
                    <img src="~/website/assets/images/shapes/highest-company-one-shape-3.png" alt="">
                </div>
                <div class="highest-company-one__shape-4">
                    <img src="~/website/assets/images/shapes/highest-company-one-shape-4.png" alt="">
                </div>
                <div class="highest-company-one__shape-5">
                    <img src="~/website/assets/images/shapes/highest-company-one-shape-5.png" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="highest-company-one__left">
                                <h3 class="highest-company-one__title">
                                    Our Highest
                                    rated company
                                </h3>
                                <div class="highest-company-one__rating-box">
                                    <div class="highest-company-one__rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <h3><span>4.9/5</span>Trust Score rated</h3>
                                    <p>Rated by over 5000 customer<a href="#">View all Review</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="highest-company-one__right">
                                <div class="highest-company-one__img-1">
                                    <img src="~/website/assets/images/resources/highest-company-one-img-1.jpg" alt="">
                                </div>
                                <div class="highest-company-one__img-2">
                                    <img src="~/website/assets/images/resources/highest-company-one-img-2.jpg" alt="">
                                </div>
                                <div class="highest-company-one__count-box">
                                    <div class="highest-company-one__single">
                                        <h3 class="odometer" data-count="3">00</h3><span class="highest-company-one__letter">k</span>
                                        <span class="highest-company-one__plus">+</span>
                                        <p class="highest-company-one__count-title">Business Solutions</p>
                                        <p class="highest-company-one__count-text">
                                            We’ll explain all your coverage <br>
                                            options and explore
                                        </p>
                                    </div>
                                    <div class="highest-company-one__single-2">
                                        <h3 class="odometer" data-count="1">00</h3><span class="highest-company-one__letter-2">m</span>
                                        <span class="highest-company-one__plus-2">+</span>
                                        <p class="highest-company-one__count-title">Happy Client</p>
                                        <p class="highest-company-one__count-text">
                                            We’ll explain all your coverage <br>
                                            options and explore
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Highest Company End-->
        <!--Team One Start-->
        <section class="team-one">
            <div class="team-one__bg" style="background-image: url(/website/assets/images/backgrounds/team-one-bg.jpg);"></div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">TEAM MEMBERS</span>
                    <h2 class="section-title__title">Meet our expert</h2>
                </div>
                <div class="team-one__carousel thm-owl__carousel owl-theme owl-carousel" data-owl-options='{
                     "items" : 3,
                     "margin" : 30,
                     "smartSpeed" : 700,
                     "loop" :true,
                     "autoplay" : 6000,
                     "nav" :false,
                     "dots" :true,
                     "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive":{
                        "0":{
                            "items":1
                        },
                        "768":{
                            "items":2
                        },
                        "992":{
                            "items": 3
                        }
                    }
                }'>
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-1.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Alex Wiliamson</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-2.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Rober Anda</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-3.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Kelli Alex</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-1.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Alex Wiliamson</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-2.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Rober Anda</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-3.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Kelli Alex</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-1.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Alex Wiliamson</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-2.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Rober Anda</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <div class="item">
                        <div class="team-one__single">
                            <div class="team-one__single-inner">
                                <div class="team-one__img">
                                    <img src="~/website/assets/images/team/team-1-3.jpg" alt="">
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h4 class="team-one__name"><a href="team.html">Kelli Alex</a></h4>
                                    <p class="team-one__sub-title">Senior Finance Consultant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Team One Single End-->
                </div>
            </div>
        </section>
        <!--Team One End-->
        <!--Testimonial three start-->
        <div class="testimonial-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Customer Feedback</span>
                    <h2 class="section-title__title">Our Customer Feedback</h2>
                </div>
                <div class="testimonial-one__carousel thm-owl__carousel owl-theme owl-carousel" data-owl-options='{
                     "items" : 3,
                     "margin" : 30,
                     "smartSpeed" : 700,
                     "loop" :true,
                     "autoplay" : 6000,
                     "nav" :false,
                     "dots" :false,
                     "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive":{
                        "0":{
                            "items":1
                        },
                        "768":{
                            "items":2
                        },
                        "992":{
                            "items": 3
                        }
                    }
                }'>
                    <!--Testimonial One Single Start-->
                    <div class="item">
                        <div class="testimonial-one__single">
                            <div class="testimonial-one__shape-1">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>
                            <div class="testimonial-one__client-details">
                                <div class="testimonial-one__client-rate">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star clr-star"></span>
                                </div>
                                <h4 class="testimonial-one__client-name">Robert Anton</h4>
                                <p class="testimonial-one__client-sub-title">Consulting team, California</p>
                            </div>
                            <div class="testimonial-one__client-img">
                                <img src="~/website/assets/images/testimonial/testimonial-1-1.png" alt="">
                                <div class="testimonial-one__client-quote">
                                    <span class="icon-quote-hand-drawn"></span>
                                </div>
                            </div>
                            <p class="testimonial-one__text">Many of our clients purchase
                                motorcycles because they
                                are fun and fuel efficient, and the fact that they’re more </p>
                        </div>
                    </div>
                    <!--Testimonial One Single End-->
                    <!--Testimonial One Single Start-->
                    <div class="item">
                        <div class="testimonial-one__single">
                            <div class="testimonial-one__shape-1">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>
                            <div class="testimonial-one__client-details">
                                <div class="testimonial-one__client-rate">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star clr-star"></span>
                                </div>
                                <h4 class="testimonial-one__client-name">Foqrul M</h4>
                                <p class="testimonial-one__client-sub-title">Consulting team , Canada</p>
                            </div>
                            <div class="testimonial-one__client-img">
                                <img src="~/website/assets/images/testimonial/testimonial-1-2.png" alt="">
                                <div class="testimonial-one__client-quote">
                                    <span class="icon-quote-hand-drawn"></span>
                                </div>
                            </div>
                            <p class="testimonial-one__text">Many of our clients purchase
                                motorcycles because they
                                are fun and fuel efficient, and the fact that they’re more </p>
                        </div>
                    </div>
                    <!--Testimonial One Single End-->
                    <!--Testimonial One Single Start-->
                    <div class="item">
                        <div class="testimonial-one__single">
                            <div class="testimonial-one__shape-1">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-1.png" alt="">
                            </div>
                            <div class="testimonial-one__shape-2">
                                <img src="~/website/assets/images/shapes/testimonial-one-shape-2.png" alt="">
                            </div>
                            <div class="testimonial-one__client-details">
                                <div class="testimonial-one__client-rate">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star clr-star"></span>
                                </div>
                                <h4 class="testimonial-one__client-name">Ambai Arif</h4>
                                <p class="testimonial-one__client-sub-title">Finance Consulting,Usa</p>
                            </div>
                            <div class="testimonial-one__client-img">
                                <img src="~/website/assets/images/testimonial/testimonial-1-3.png" alt="">
                                <div class="testimonial-one__client-quote">
                                    <span class="icon-quote-hand-drawn"></span>
                                </div>
                            </div>
                            <p class="testimonial-one__text">Many of our clients purchase
                                motorcycles because they
                                are fun and fuel efficient, and the fact that they’re more </p>
                        </div>
                    </div>
                    <!--Testimonial One Single End-->
                </div>
            </div>
        </div>
        <!--Testimonial One End-->
        <!--Contact One Start-->
        <section class="contact-one about-page-contact">
            <div class="about-page-contact__shape-1 float-bob-x"></div>
            <div class="about-page-contact__shape-2 float-bob-x"></div>
            <div class="contact-one__shape-2 float-bob-x">
                <img src="~/website/assets/images/shapes/contact-one-shape-2.html" alt="">
            </div>
            <div class="contact-one__shape-3 float-bob-y">
                <img src="~/website/assets/images/shapes/contact-one-shape-3.png" alt="">
            </div>
            <div class="contact-one__shape-4 float-bob-y">
                <img src="~/website/assets/images/shapes/contact-one-shape-4.html" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-one__left">
                            <h2 class="contact-one__title">
                                Let's speak <br>
                                with finicial experts <br>
                                in the field.
                            </h2>
                            <p class="contact-one__text">
                                At vero eos et accusamus et iusto odio dignissimos ducimus <br>
                                qui
                                blanditiis praesentium voluptatum deleniti atque corrupti <br> quos dolores et quas
                                molestias
                            </p>
                            <ul class="contact-one__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-heavy-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Working capital decisions</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-heavy-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Profitability starts with planning.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="contact-one__call">
                                <div class="contact-one__call-shape-1">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-1.png" alt="">
                                </div>
                                <div class="contact-one__call-shape-2">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-2.html" alt="">
                                </div>
                                <div class="contact-one__call-shape-3">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-3.png" alt="">
                                </div>
                                <div class="contact-one__call-icon">
                                    <span class="icon-support-1"></span>
                                </div>
                                <div class="contact-one__call-content">
                                    <p class="contact-one__call-sub-title">CALL FOR ADVICE NOW!</p>
                                    <p class="contact-one__call-number">
                                        <a href="tel:8811221012">(88) 11 22 10 12</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-one__right">
                            <div class="contact-one__shape-1">
                                <img src="~/website/assets/images/shapes/contact-one-shape-1.html" alt="">
                            </div>
                            <div class="contact-one__form-box">
                                <h3 class="contact-one__form-title">Get a Free Consulting</h3>
                                <form action="https://themazine.com/mr/corpai-html/main-html/assets/inc/sendemail.php" class="contact-one__form contact-form-validated"
                                      novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <input type="text" placeholder="Mahfuz Riad" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <input type="email" placeholder="youremail@gmail.com" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <select class="selectpicker" aria-label="Default select example">
                                                    <option selected>Select you service</option>
                                                    <option value="1">Finance & Strategy</option>
                                                    <option value="2">Digital Marketing</option>
                                                    <option value="3">Digitial finance</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box text-message-box">
                                                <textarea name="message"
                                                          placeholder="Lets us know about your topic"></textarea>
                                            </div>
                                            <div class="contact-form__btn-box">
                                                <button type="submit" class="contact-form__btn thm-btn">
                                                    Send
                                                    Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact One End-->
        <!--How It Work Start-->
        <section class="how-it-work how-it-work-three">
            <div class="container">
                <div class="how-it-work__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="how-it-work__left">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">Work Process</span>
                                    <h2 class="section-title__title">Our working Process</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="how-it-work__right">
                                <p class="how-it-work__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="how-it-work__bottom">
                    <div class="row">
                        <!--How It Work Start-->
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="how-it-work__single">
                                <div class="how-it-work__shape-1">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-1.png" alt="">
                                </div>
                                <div class="how-it-work__shape-2">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-2.png" alt="">
                                </div>
                                <div class="how-it-work__shape-3">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-3.png" alt="">
                                </div>
                                <div class="how-it-work__icon">
                                    <span class="icon-bank-bill-finance"></span>
                                </div>
                                <h3 class="how-it-work__title"><a href="about.html">Discover</a></h3>
                                <p class="how-it-work__text">Lorem Ipsum is that it has a is working like it should</p>
                                <div class="how-it-work__count"></div>
                            </div>
                        </div>
                        <!--How It Work End-->
                        <!--How It Work Start-->
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="how-it-work__single">
                                <div class="how-it-work__shape-1">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-1.png" alt="">
                                </div>
                                <div class="how-it-work__shape-2">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-2.png" alt="">
                                </div>
                                <div class="how-it-work__shape-3">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-3.png" alt="">
                                </div>
                                <div class="how-it-work__icon">
                                    <span class="icon-business-cash-coin"></span>
                                </div>
                                <h3 class="how-it-work__title"><a href="about.html">Finance Cost </a></h3>
                                <p class="how-it-work__text">Lorem Ipsum is that it has a is working like it should</p>
                                <div class="how-it-work__count"></div>
                            </div>
                        </div>
                        <!--How It Work End-->
                        <!--How It Work Start-->
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="how-it-work__single">
                                <div class="how-it-work__shape-1">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-1.png" alt="">
                                </div>
                                <div class="how-it-work__shape-2">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-2.png" alt="">
                                </div>
                                <div class="how-it-work__shape-3">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-3.png" alt="">
                                </div>
                                <div class="how-it-work__icon">
                                    <span class="icon-story"></span>
                                </div>
                                <h3 class="how-it-work__title"><a href="about.html">Plan</a></h3>
                                <p class="how-it-work__text">Lorem Ipsum is that it has a is working like it should</p>
                                <div class="how-it-work__count"></div>
                            </div>
                        </div>
                        <!--How It Work End-->
                        <!--How It Work Start-->
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="how-it-work__single">
                                <div class="how-it-work__shape-1">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-1.png" alt="">
                                </div>
                                <div class="how-it-work__shape-2">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-2.png" alt="">
                                </div>
                                <div class="how-it-work__shape-3">
                                    <img src="~/website/assets/images/shapes/how-it-work-shape-3.png" alt="">
                                </div>
                                <div class="how-it-work__icon">
                                    <span class="icon-approve-business-check"></span>
                                </div>
                                <h3 class="how-it-work__title"><a href="about.html">Delivery Task</a></h3>
                                <p class="how-it-work__text">Lorem Ipsum is that it has a is working like it should</p>
                                <div class="how-it-work__count"></div>
                            </div>
                        </div>
                        <!--How It Work End-->
                    </div>
                </div>
            </div>
        </section>
        <!--How It Work End-->
        <!--Subscribe One Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Subscribe.cshtml")
        <!--Subscribe One End-->
        <!--Site Footer Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Footer.cshtml")
        <!--Site Footer End-->









    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/website/assets/images/resources/logo-1.png" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@corpai.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    @Html.Partial("~/Areas/Website/Views/Shared/_Script.cshtml")
   
</body>


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:19 GMT -->
</html>
