
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<title> About us || corpai || corpai HTML 5 Template </title>
<meta name="description" content="corpai HTML 5 Template " />

@Html.Partial("~/Areas/Website/Views/Shared/_Head.cshtml")

<body>




    @Html.Partial("~/Areas/Website/Views/Shared/_SideBar.cshtml")




    <div class="page-wrapper">
        @Html.Partial("~/Areas/Website/Views/Shared/_Header.cshtml")

        <div class="stricky-header stricked-menu main-menu main-menu-three">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__shape-1">
                <img src="~/website/assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="~/website/assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="~/website/assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header-bg" style="background-image: url(/website/assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>About us</h2>
                    <div class="thm-breadcrumb__box">
                        <div class="thm-breadcrumb__shape-1">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-1.png" alt="">
                        </div>
                        <div class="thm-breadcrumb__shape-2">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-2.png" alt="">
                        </div>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--About Three Start-->
        <section class="about-three about-four">
            <div class="about-three__shape-1 float-bob-y">
                <img src="~/website/assets/images/shapes/about-three-shape-1.png" alt="">
            </div>
            <div class="about-three__shape-2 float-bob-y">
                <img src="~/website/assets/images/shapes/about-three-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-three__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Who we are</span>
                                <h2 class="section-title__title">
                                    Ready to get
                                    business financing?
                                </h2>
                            </div>
                            <p class="about-three__text">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium voluptatum deleniti atque corrupti
                            </p>
                            <div class="about-three__points-box">
                                <ul class="about-three__points-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Business Solutions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Business Essential Services</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Financial Gap Analysis</p>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="about-three__points-list about-three__points-list-2 list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Financing decisions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-check"></span>
                                        </div>
                                        <div class="text">
                                            <p>Strategic decisions</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-three__profitable-business">
                                <div class="about-three__profitable-business-icon">
                                    <div class="about-three__profitable-business-shape-1">
                                        <img src="~/website/assets/images/shapes/about-three-profitable-business-shape-1.png"
                                             alt="">
                                    </div>
                                    <span class="icon-coin"></span>
                                </div>
                                <div class="about-three__profitable-business-text">
                                    <p>Helping you run a more efficient & profitable business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-three__right">
                            <div class="about-three__img-box">
                                <div class="about-three__img">
                                    <img src="~/website/assets/images/resources/about-three-img-1.jpg" alt="">
                                </div>
                                <div class="about-three__img-2">
                                    <img src="~/website/assets/images/resources/about-three-img-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Three End-->
       
        <!--Subscribe One Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Subscribe.cshtml")
        <!--Subscribe One End-->
        <!--Site Footer Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Footer.cshtml")
        <!--Site Footer End-->









    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/website/assets/images/resources/logo-1.png" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@corpai.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    @Html.Partial("~/Areas/Website/Views/Shared/_Script.cshtml")
   
</body>


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:19 GMT -->
</html>
