
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<title> About us || corpai || corpai HTML 5 Template </title>
<meta name="description" content="corpai HTML 5 Template " />

@Html.Partial("~/Areas/Website/Views/Shared/_Head.cshtml")

<body>




    @Html.Partial("~/Areas/Website/Views/Shared/_SideBar.cshtml")




    <div class="page-wrapper">
        @Html.Partial("~/Areas/Website/Views/Shared/_Header.cshtml")

        <div class="stricky-header stricked-menu main-menu main-menu-three">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__shape-1">
                <img src="~/website/assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="~/website/assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="~/website/assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header-bg" style="background-image: url(/website/assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>About us</h2>
                    <div class="thm-breadcrumb__box">
                        <div class="thm-breadcrumb__shape-1">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-1.png" alt="">
                        </div>
                        <div class="thm-breadcrumb__shape-2">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-2.png" alt="">
                        </div>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>About us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
     
        <!--Contact One Start-->
        <section class="contact-one about-page-contact">
            <div class="about-page-contact__shape-1 float-bob-x"></div>
            <div class="about-page-contact__shape-2 float-bob-x"></div>
            <div class="contact-one__shape-2 float-bob-x">
                <img src="~/website/assets/images/shapes/contact-one-shape-2.html" alt="">
            </div>
            <div class="contact-one__shape-3 float-bob-y">
                <img src="~/website/assets/images/shapes/contact-one-shape-3.png" alt="">
            </div>
            <div class="contact-one__shape-4 float-bob-y">
                <img src="~/website/assets/images/shapes/contact-one-shape-4.html" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-one__left">
                            <h2 class="contact-one__title">
                                Let's speak <br>
                                with finicial experts <br>
                                in the field.
                            </h2>
                            <p class="contact-one__text">
                                At vero eos et accusamus et iusto odio dignissimos ducimus <br>
                                qui
                                blanditiis praesentium voluptatum deleniti atque corrupti <br> quos dolores et quas
                                molestias
                            </p>
                            <ul class="contact-one__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-heavy-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Working capital decisions</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-heavy-check-mark"></span>
                                    </div>
                                    <div class="text">
                                        <p>Profitability starts with planning.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="contact-one__call">
                                <div class="contact-one__call-shape-1">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-1.png" alt="">
                                </div>
                                <div class="contact-one__call-shape-2">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-2.html" alt="">
                                </div>
                                <div class="contact-one__call-shape-3">
                                    <img src="~/website/assets/images/shapes/contact-one-call-shape-3.png" alt="">
                                </div>
                                <div class="contact-one__call-icon">
                                    <span class="icon-support-1"></span>
                                </div>
                                <div class="contact-one__call-content">
                                    <p class="contact-one__call-sub-title">CALL FOR ADVICE NOW!</p>
                                    <p class="contact-one__call-number">
                                        <a href="tel:8811221012">(88) 11 22 10 12</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-one__right">
                            <div class="contact-one__shape-1">
                                <img src="~/website/assets/images/shapes/contact-one-shape-1.html" alt="">
                            </div>
                            <div class="contact-one__form-box">
                                <h3 class="contact-one__form-title">Get a Free Consulting</h3>
                                <form action="https://themazine.com/mr/corpai-html/main-html/assets/inc/sendemail.php" class="contact-one__form contact-form-validated"
                                      novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <input type="text" placeholder="Mahfuz Riad" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <input type="email" placeholder="youremail@gmail.com" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box">
                                                <select class="selectpicker" aria-label="Default select example">
                                                    <option selected>Select you service</option>
                                                    <option value="1">Finance & Strategy</option>
                                                    <option value="2">Digital Marketing</option>
                                                    <option value="3">Digitial finance</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="contact-form__input-box text-message-box">
                                                <textarea name="message"
                                                          placeholder="Lets us know about your topic"></textarea>
                                            </div>
                                            <div class="contact-form__btn-box">
                                                <button type="submit" class="contact-form__btn thm-btn">
                                                    Send
                                                    Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact One End-->
       
        <!--Subscribe One Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Subscribe.cshtml")
        <!--Subscribe One End-->
        <!--Site Footer Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Footer.cshtml")
        <!--Site Footer End-->









    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/website/assets/images/resources/logo-1.png" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@corpai.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    @Html.Partial("~/Areas/Website/Views/Shared/_Script.cshtml")

</body>


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:19 GMT -->
</html>

