
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/finance-strategy.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:15 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<title> Finance & Strategy || corpai || corpai HTML 5 Template </title>
<meta name="description" content="corpai HTML 5 Template " />
@Html.Partial("~/Areas/Website/Views/Shared/_Head.cshtml")



<body>


    @Html.Partial("~/Areas/Website/Views/Shared/_SideBar.cshtml")




    <div class="page-wrapper">
        @Html.Partial("~/Areas/Website/Views/Shared/_Header.cshtml")

        <div class="stricky-header stricked-menu main-menu main-menu-three">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__shape-1">
                <img src="~/website/assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="~/website/assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="~/website/assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header-bg" style="background-image: url(/website/assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Finance & Strategy</h2>
                    <div class="thm-breadcrumb__box">
                        <div class="thm-breadcrumb__shape-1">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-1.png" alt="">
                        </div>
                        <div class="thm-breadcrumb__shape-2">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-2.png" alt="">
                        </div>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li><a href="services-v-1.html">Services</a></li>
                            <li><span>-</span></li>
                            <li>Finance & Strategy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Service Details Start-->
        <section class="service-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="service-details__left">
                            <div class="service-details__service-type-box">
                                <div class="service-details__service-title-box">
                                    <div class="service-details__title-shape-1">
                                        <img src="~/website/assets/images/shapes/service-details-title-shape-1.png" alt="">
                                    </div>
                                    <div class="service-details__title-shape-2">
                                        <img src="~/website/assets/images/shapes/service-details-title-shape-2.png" alt="">
                                    </div>
                                    <h3 class="service-details__service-title">Service Type</h3>
                                </div>
                                <ul class="service-details__service-list list-unstyled">
                                    <li class="active">
                                        <a href="finance-strategy.html">
                                            <div class="service-details__service-icon">
                                                <span class="icon-business-growth-management"></span>
                                            </div>
                                            <div class="service-details__service-content">
                                                <h4>Finance & Strategy</h4>
                                                <p>finance strategy</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="digital-marketing.html">
                                            <div class="service-details__service-icon">
                                                <span class="icon-business-management-megaphone"></span>
                                            </div>
                                            <div class="service-details__service-content">
                                                <h4>Digital Marketing</h4>
                                                <p>Digital business</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="financial-services.html">
                                            <div class="service-details__service-icon">
                                                <span class="icon-coin"></span>
                                            </div>
                                            <div class="service-details__service-content">
                                                <h4>Financial Services</h4>
                                                <p>Financial business</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="fundraising-services.html">
                                            <div class="service-details__service-icon">
                                                <span class="icon-bank-business-management"></span>
                                            </div>
                                            <div class="service-details__service-content">
                                                <h4>Fundraising Services</h4>
                                                <p>finincial strategy</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="web-design.html">
                                            <div class="service-details__service-icon">
                                                <span class="icon-business-growth-management"></span>
                                            </div>
                                            <div class="service-details__service-content">
                                                <h4>Web Design</h4>
                                                <p>Design and development</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__get-in-touch">
                                <div class="sidebar__get-in-touch-shape-1">
                                    <img src="~/website/assets/images/shapes/get-in-touch-shape-1.png" alt="">
                                </div>
                                <div class="sidebar__get-in-touch-shape-2">
                                    <img src="~/website/assets/images/shapes/get-in-touch-shape-2.png" alt="">
                                </div>
                                <div class="sidebar__title-box">
                                    <div class="sidebar__title-shape-1">
                                        <img src="~/website/assets/images/shapes/sidebar-title-shape-1.png" alt="">
                                    </div>
                                    <div class="sidebar__title-shape-2">
                                        <img src="~/website/assets/images/shapes/sidebar-title-shape-2.png" alt="">
                                    </div>
                                    <h3 class="sidebar__title">Get in touch</h3>
                                </div>
                                <div class="sidebar__get-in-touch-img-box">
                                    <div class="sidebar__get-in-touch-img">
                                        <img src="~/website/assets/images/blog/get-in-touch-img-1.jpg" alt="">
                                        <div class="sidebar__get-in-touch-shape-3">
                                            <img src="~/website/assets/images/shapes/get-in-touch-shape-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="sidebar__get-in-touch-title-box">
                                        <h3 class="sidebar__get-in-touch-title">
                                            Get access to <br>
                                            the right financial
                                            direction for your
                                            growing business.
                                        </h3>
                                        <div class="sidebar__get-in-touch-btn-box">
                                            <div class="sidebar__get-in-touch-btn-shape-1"></div>
                                            <div class="sidebar__get-in-touch-btn-shape-2"></div>
                                            <a href="contact.html" class="sidebar__get-in-touch-btn">
                                                Guick
                                                Contact
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="service-details__right">
                            <div class="service-details__finance-strategy">
                                <h3 class="service-details__finance-strategy-title">Finance & Strategy</h3>
                                <p class="service-details__finance-strategy-text-1">
                                    A deep dive on finances, business
                                    model, risk and compliance to direct financial function strategy. Whether your goal
                                    is to improve your finance engine in the company or to start a fundraising endeavour
                                    at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sintoccaecati cupiditate non provident, similique
                                </p>
                                <p class="service-details__finance-strategy-text-2">
                                    Culpa qui officia deserunt mollitia
                                    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                    distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                    impedit quo minus id quod maxime placeat facere possimus,
                                </p>
                                <h4 class="service-details__finance-strategy-title-two">Finance Analysis Structure</h4>
                                <p class="service-details__finance-strategy-text-3">
                                    Sed ut perspiciatis unde omnis iste
                                    natus error luptatem accusantium dolore mque laudantium, totam rem apeam, eaque ipsa
                                    quae illo inventore veritatis
                                </p>
                            </div>
                            <div class="service-details__digital-solution">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="service-details__digital-solution-left">
                                            <ul class="list-unstyled service-details__digital-solution-list">
                                                <li>Business model analysis</li>
                                                <li>Financial analysis</li>
                                                <li>Systems and processes</li>
                                            </ul>
                                            <p class="service-details__digital-solution-text">
                                                The first key outcome of
                                                the analysis is a risk register that lists the key risks and gaps within
                                                the finance function. It then follows with recommendations to derive
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="service-details__digital-solution-right">
                                            <div class="service-details__digital-solution-img">
                                                <img src="~/website/assets/images/services/service-details-digital-solution-img-1.jpg"
                                                     alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service-details__digital-finance">
                                <h4 class="service-details__digital-finance-title">Digital finance strategy</h4>
                                <p class="service-details__digital-finance-text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing adi pisci dolor sed eiusmod tempo
                                    incididunt ut labore et dolore magna aliqua we create beautiful designs with your
                                    tomers
                                </p>
                                <div class="service-details__digital-finance-bottom">
                                    <div class="service-details__digital-finance-icon">
                                        <span class="icon-dollar-finance-money"></span>
                                        <div class="service-details__digital-finance-icon-shape-1"></div>
                                        <div class="service-details__digital-finance-icon-shape-2"></div>
                                        <div class="service-details__digital-finance-icon-shape-3"></div>
                                    </div>
                                    <div class="service-details__digital-finance-content">
                                        <p class="service-details__digital-finance-text-2">
                                            Quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni dolores eos
                                        </p>
                                        <ul class="list-unstyled service-details__digital-finance-points">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-check"></span>
                                                </div>
                                                <div class="text">
                                                    <p>Funding considerations</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-check"></span>
                                                </div>
                                                <div class="text">
                                                    <p>Company structure and ownership</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="service-details__feature">
                                <h3 class="service-details__feature-title">Feature</h3>
                                <p class="service-details__feature-text">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing adi pisci dolor sed eiusmod tempo
                                    incididunt ut labore et dolore magna aliqua we create beautiful designs with your
                                    tomers
                                </p>
                                <div class="service-details__feature-inner">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="service-details__feature-single">
                                                <div class="service-details__feature-icon">
                                                    <span class="icon-cloud-with-light-outline"></span>
                                                </div>
                                                <div class="service-details__feature-content">
                                                    <h4 class="service-details__feature-content-title">
                                                        Cloud Accounting
                                                    </h4>
                                                    <p class="service-details__feature-content-text">
                                                        At vero eos et
                                                        accusamus et iusto odio dignissimos
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="service-details__feature-single">
                                                <div class="service-details__feature-icon">
                                                    <span class="icon-analytics"></span>
                                                </div>
                                                <div class="service-details__feature-content">
                                                    <h4 class="service-details__feature-content-title">
                                                        Insight Analytics
                                                    </h4>
                                                    <p class="service-details__feature-content-text">
                                                        Sed ut perspiciatis
                                                        unde omnis iste natus error sit voluptatem
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="service-details__feature-text-2">
                                    At vero eos et accusamus et iusto odio
                                    dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                                    quos dolores et quas molestias excepturi sint
                                    occaecati cupiditate non provident, similique sunt in culpa qui
                                </p>
                            </div>
                            <div class="service-details__faq">
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <div class="accrodion active">
                                        <div class="accrodion-title">
                                            <h4>Branding Strategy</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>
                                                    Creating an engaging and user-friendly site has the ability to reduce
                                                    churn rate and create more conversions consisting of both new and
                                                    returning users.
                                                </p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Digital Solutions</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>
                                                    Creating an engaging and user-friendly site has the ability to reduce
                                                    churn rate and create more conversions consisting of both new and
                                                    returning users.
                                                </p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>Way to grow your business</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>
                                                    Creating an engaging and user-friendly site has the ability to reduce
                                                    churn rate and create more conversions consisting of both new and
                                                    returning users.
                                                </p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Service Details End-->
        <!--Subscribe One Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Subscribe.cshtml")
        <!--Subscribe One End-->
        <!--Site Footer Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Footer.cshtml")
     
        <!--Site Footer End-->









    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="assets/images/resources/logo-1.png" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@corpai.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    @Html.Partial("~/Areas/Website/Views/Shared/_Script.cshtml")

   
</body>


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/finance-strategy.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:18 GMT -->
</html>
