
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/project-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:32:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<title> Project Details || corpai || corpai HTML 5 Template </title>
<meta name="description" content="corpai HTML 5 Template " />

@Html.Partial("~/Areas/Website/Views/Shared/_Head.cshtml")

<body>




    @Html.Partial("~/Areas/Website/Views/Shared/_SideBar.cshtml")



    <div class="page-wrapper">
        @Html.Partial("~/Areas/Website/Views/Shared/_Header.cshtml")

        <div class="stricky-header stricked-menu main-menu main-menu-three">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__shape-1">
                <img src="~/website/assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="~/website/assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="~/website/assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header-bg" style="background-image: url(/website/assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Project details</h2>
                    <div class="thm-breadcrumb__box">
                        <div class="thm-breadcrumb__shape-1">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-1.png" alt="">
                        </div>
                        <div class="thm-breadcrumb__shape-2">
                            <img src="~/website/assets/images/shapes/thm-breadcrumb-shape-2.png" alt="">
                        </div>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>Project details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Project Details Start-->
        <section class="project-details">
            <div class="container">
                <div class="project-details__top">
                    <div class="project-details__img">
                        <img src="~/website/assets/images/project/project-details-img-1.jpg" alt="">
                    </div>
                </div>
                <div class="project-details__bottom">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="project-details__left">
                                <div class="project-details__sidebar">
                                    <div class="project-details__client-info">
                                        <div class="project-details__client-info-inner">
                                            <div class="sidebar__get-in-touch-shape-1">
                                                <img src="~/website/assets/images/shapes/get-in-touch-shape-1.png" alt="">
                                            </div>
                                            <div class="sidebar__get-in-touch-shape-2">
                                                <img src="~/website/assets/images/shapes/get-in-touch-shape-2.png" alt="">
                                            </div>
                                            <div class="project-details__title-box">
                                                <div class="project-details__title-shape-1">
                                                    <img src="~/website/assets/images/shapes/project-details-title-shape-1.png"
                                                         alt="">
                                                </div>
                                                <div class="project-details__title-shape-2">
                                                    <img src="~/website/assets/images/shapes/project-details-title-shape-2.png"
                                                         alt="">
                                                </div>
                                                <h3 class="project-details__title">Client Info</h3>
                                            </div>
                                            <ul class="list-unstyled project-details__list">
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-wireframe-website"></span>
                                                    </div>
                                                    <div class="content">
                                                        <span>Live demo :</span>
                                                        <p><a href="#">www.envato.com</a></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-user-1"></span>
                                                    </div>
                                                    <div class="content">
                                                        <span>Clients:</span>
                                                        <p>Alex Mathamoda</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-clock-1"></span>
                                                    </div>
                                                    <div class="content">
                                                        <span>Timeframe</span>
                                                        <p>November 01, 2022</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-tag-chevron-thin"></span>
                                                    </div>
                                                    <div class="content">
                                                        <span>Featured on:</span>
                                                        <p>Finance business</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar__single sidebar__get-in-touch">
                                        <div class="sidebar__get-in-touch-shape-1">
                                            <img src="~/website/assets/images/shapes/get-in-touch-shape-1.png" alt="">
                                        </div>
                                        <div class="sidebar__get-in-touch-shape-2">
                                            <img src="~/website/assets/images/shapes/get-in-touch-shape-2.png" alt="">
                                        </div>
                                        <div class="sidebar__title-box">
                                            <div class="sidebar__title-shape-1">
                                                <img src="~/website/assets/images/shapes/sidebar-title-shape-1.png" alt="">
                                            </div>
                                            <div class="sidebar__title-shape-2">
                                                <img src="~/website/assets/images/shapes/sidebar-title-shape-2.png" alt="">
                                            </div>
                                            <h3 class="sidebar__title">Get in touch</h3>
                                        </div>
                                        <div class="sidebar__get-in-touch-img-box">
                                            <div class="sidebar__get-in-touch-img">
                                                <img src="~/website/assets/images/blog/get-in-touch-img-1.jpg" alt="">
                                                <div class="sidebar__get-in-touch-shape-3">
                                                    <img src="~/website/assets/images/shapes/get-in-touch-shape-3.png" alt="">
                                                </div>
                                            </div>
                                            <div class="sidebar__get-in-touch-title-box">
                                                <h3 class="sidebar__get-in-touch-title">
                                                    Get access to <br>
                                                    the right financial
                                                    direction for your
                                                    growing business.
                                                </h3>
                                                <div class="sidebar__get-in-touch-btn-box">
                                                    <div class="sidebar__get-in-touch-btn-shape-1"></div>
                                                    <div class="sidebar__get-in-touch-btn-shape-2"></div>
                                                    <a href="blog-details.html" class="sidebar__get-in-touch-btn">
                                                        Guick
                                                        Contact
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="project-details__right">
                                <div class="project-details__fundraising-strategy">
                                    <h3 class="project-details__title-two">Fundraising strategy</h3>
                                    <p class="project-details__fundraising-strategy-text-1">
                                        A deep dive on finances,
                                        business model, risk and compliance to direct financial function strategy.
                                        Whether your goal is to improve your finance engine in the company or to start a
                                        fundraising endeavour at vero eos et accusamus et iusto odio dignissimos ducimus
                                        qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                                        quas molestias excepturi sintoccaecati cupiditate non provident, similique
                                    </p>
                                    <p class="project-details__fundraising-strategy-text-2">
                                        Culpa qui officia deserunt
                                        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                                        est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
                                        optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                                    </p>
                                </div>
                                <div class="project-details__strategy-system">
                                    <div class="project-details__strategy-system-single">
                                        <h4 class="project-details__strategy-system-title">Strategy System 1</h4>
                                        <p class="project-details__strategy-system-text-1">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing adi pisci dolor sed eiusmod tempo incididunt ut
                                            labore et dolore magna aliqua we create beautiful designs with your tomers
                                        </p>
                                        <div class="project-details__strategy-system-bottom">
                                            <div class="project-details__strategy-system-icon">
                                                <span class="icon-dollar-finance-money"></span>
                                                <div class="project-details__strategy-system-icon-shape-1"></div>
                                                <div class="project-details__strategy-system-icon-shape-2"></div>
                                                <div class="project-details__strategy-system-icon-shape-3"></div>
                                            </div>
                                            <div class="project-details__strategy-system-content">
                                                <p class="project-details__strategy-system-text-2">
                                                    Quae ab illo
                                                    inventore
                                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                                    Nemo enim
                                                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                                    sed quia
                                                    consequuntur magni dolores eos
                                                </p>
                                                <ul class="list-unstyled project-details__strategy-system-points">
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-check"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>Funding considerations</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-check"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>Company structure and ownership</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-details__strategy-system-single">
                                        <h4 class="project-details__strategy-system-title">Strategy System 2</h4>
                                        <p class="project-details__strategy-system-text-1">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipisicing adi pisci dolor sed eiusmod tempo incididunt ut
                                            labore et dolore magna aliqua we create beautiful designs with your tomers
                                        </p>
                                        <div class="project-details__strategy-system-bottom">
                                            <div class="project-details__strategy-system-icon">
                                                <span class="icon-analytics"></span>
                                                <div class="project-details__strategy-system-icon-shape-1"></div>
                                                <div class="project-details__strategy-system-icon-shape-2"></div>
                                                <div class="project-details__strategy-system-icon-shape-3"></div>
                                            </div>
                                            <div class="project-details__strategy-system-content">
                                                <p class="project-details__strategy-system-text-2">
                                                    Start your
                                                    fundraising journey with an outsourced CFO by your side. Imagine if
                                                    you could embark on a capital raising campaign with a clearly
                                                    defined game plan. The Fundraising Gap Analysis, part of our suite
                                                    of Fundraising Services,
                                                </p>
                                                <ul class="list-unstyled project-details__strategy-system-points">
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-check"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>Fundraising Gap Analysis</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-check"></span>
                                                        </div>
                                                        <div class="text">
                                                            <p>Fundraising strategy and deal</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details__solution">
                                    <h4 class="project-details__solution-title">Solution</h4>
                                    <p class="project-details__solution-text">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing adi pisci dolor sed eiusmod tempo
                                        incididunt ut labore et dolore magna aliqua we create beautiful designs with
                                        your tomers
                                    </p>
                                    <div class="project-details__solution-content-box">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="project-details__solution-single">
                                                    <div class="project-details__solution-icon">
                                                        <span class="icon-cloud-with-light-outline"></span>
                                                    </div>
                                                    <div class="project-details__solution-content">
                                                        <h4 class="project-details__solution-content-title">
                                                            Cloud
                                                            Accounting
                                                        </h4>
                                                        <p class="project-details__solution-content-text">
                                                            At vero eos et
                                                            accusamus et iusto odio dignissimos
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="project-details__solution-single">
                                                    <div class="project-details__solution-icon">
                                                        <span class="icon-analytics"></span>
                                                    </div>
                                                    <div class="project-details__solution-content">
                                                        <h4 class="project-details__solution-content-title">
                                                            Insight
                                                            Analytics
                                                        </h4>
                                                        <p class="project-details__solution-content-text">
                                                            Sed ut
                                                            perspiciatis unde omnis iste natus error sit voluptatem
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="project-details__solution-img">
                                                    <img src="~/website/assets/images/project/project-details-solution-img--1.jpg"
                                                         alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="project-details__solution-bottom-text">
                                        At vero eos et accusamus et iusto
                                        odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                    </p>
                                </div>
                                <div class="project-details__core-benefit">
                                    <h4 class="project-details__core-benefit-title">Core Benefit</h4>
                                    <p class="project-details__core-benefit-text">
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipisicing adi pisci dolor sed eiusmod tempo incididunt ut labore
                                        et dolore magna aliqua we create beautiful designs with your tomers
                                    </p>
                                    <div class="project-details__faq">
                                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                            <div class="accrodion active">
                                                <div class="accrodion-title">
                                                    <h4>Strategic business reviews</h4>
                                                </div>
                                                <div class="accrodion-content">
                                                    <div class="inner">
                                                        <p>
                                                            Creating an engaging and user-friendly site has the ability
                                                            to reduce
                                                            churn rate and create more conversions consisting of both
                                                            new and
                                                            returning users.
                                                        </p>
                                                    </div><!-- /.inner -->
                                                </div>
                                            </div>
                                            <div class="accrodion">
                                                <div class="accrodion-title">
                                                    <h4>Product profitability</h4>
                                                </div>
                                                <div class="accrodion-content">
                                                    <div class="inner">
                                                        <p>
                                                            Creating an engaging and user-friendly site has the ability
                                                            to reduce
                                                            churn rate and create more conversions consisting of both
                                                            new and
                                                            returning users.
                                                        </p>
                                                    </div><!-- /.inner -->
                                                </div>
                                            </div>
                                            <div class="accrodion">
                                                <div class="accrodion-title">
                                                    <h4>Cash flow forecast</h4>
                                                </div>
                                                <div class="accrodion-content">
                                                    <div class="inner">
                                                        <p>
                                                            Creating an engaging and user-friendly site has the ability
                                                            to reduce
                                                            churn rate and create more conversions consisting of both
                                                            new and
                                                            returning users.
                                                        </p>
                                                    </div><!-- /.inner -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Project Details End-->
        <!--Subscribe One Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Subscribe.cshtml")
        <!--Subscribe One End-->
        <!--Site Footer Start-->
        @Html.Partial("~/Areas/Website/Views/Shared/_Footer.cshtml")
        <!--Site Footer End-->






    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="assets/images/resources/logo-1.png" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@corpai.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    @Html.Partial("~/Areas/Website/Views/Shared/_Script.cshtml")


</body>


<!-- Mirrored from themazine.com/mr/corpai-html/main-html/project-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Jan 2023 12:33:12 GMT -->
</html>
